[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
google-api-python-client = "==1.9.3"
google-auth-oauthlib = "==0.4.1"
virtualenv = "==20.0.31"

[dev-packages]

[requires]
python_version = "3.8"
